<h1><%= @band.name %></h1>

<h3><%= @band.name %> has played at the following venues in the past:</h3>
<% if @band.venues.any? %>
<% @band.venues.each do |venue| %>
<ul>
  <li><%= venue.name %></li>
</ul>
<% end %>
<% else %>
<h4><i>It looks like this band hasn't played a show yet! Time to hire a booking agent!</i></h4>
<% end %>

<br>

<h3>Add a venue that <%= @band.name %> has played at:</h3>
<form action="/bands/<%= @band.id %>" method="post">
  <% @venues.each do |venue| %>
  <div class="checkbox">
    <input type="checkbox" name="venue_id[]" value="<%= venue.id() %>"><%= venue.name %>
  </div>
  <% end %>
  <button type="submit">Add Band</button>
</form>
